body {
  font-family: sans-serif;
  position: relative;
  top: 5px;
  max-width: 800px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 15px;
  line-height: 28px;
}
h1 {
  color: blue;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100px;
  text-align: left;
  text-decoration: none;
}
h2 {
  color: #050404;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100px;
  text-align: left;
  text-decoration: none;
}
h3 {
  color: #101b29;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100px;
  text-align: left;
  text-decoration: none;
}
image {
}
